.timer-container {
  margin: 50px;
}

.timer-form {
  margin-bottom: 20px;
}

.timer {
  width: fit-content;
  padding: 15px;
  /* margin: 50px; */
  display: flex;
  background-color: tomato;
  border-radius: 10px;
}

.field+.field {
  margin-left: 12px;
}

.label,
.value {
  font-family: serif;
  font-size: 20px;
}